

.app{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

:root{
    --primary-color:#ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --star-gold-color:#ffce3e;
    --header-height:120px;
    --navbar-height :34px;
    --header-width-search-height: calc( var(--header-height) - var(--navbar-height));
    --header-sort-bar-height:46px;
}