.header{
    height: var(--header-height);
    background-image:linear-gradient(0,#fe6433,#f53e2d) ;
    color: #fff;
}


.header__navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
}

.header__navbar .header__navbar-list{
    display: flex;
    font-size: 1.2rem;
}

.header__navbar-list .header__navbar-item{
    font-size: 1.2rem;
    position: relative;
    padding-left:1.8rem;
}
.header__navbar-item .header__navbar-icon-link{
    color: #fff;
}
.header__navbar-list .header__navbar-item--after::before{
    content: " ";
    display: block;
    position:absolute;
    border-left: 1px solid #FB9086;
    height: 1.6rem;
    left: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
}

.header__qr{
    display: none;
    width: 186px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top:118%;
    padding: 8px;
    z-index: 1;
    border: 1px solid rgba(61, 59, 59, 0.1);
    animation: fadeIn ease-in 1s ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
   
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link img{
    height: 15px;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 12px;
}

.header__qr-link:nth-child(3){
    margin-left: 11px;
}


.header__sort-bar{
    margin-top: 1rem;
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
    padding: 1rem 0.8rem;
}

.logo{
    color: transparent;
    width: 75px;
    padding-right: 3.6rem;
}
.logo img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.header__sort-bar .header__search{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #fff;
    height: 40px;
    border-radius: 2px;
    
}


.header__search .header__search-input-wrap{
    height: 100%;
    width: 100%;
    position: relative;
}

.header__search-input-wrap .header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline:none;
    font-size: 1.5rem;
    padding:0 16px;
    border-radius: 2px;
    /* background-color: red; */
}
/*  */

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    display: none;
    position: absolute;
    top: calc(100% + 0.4rem);
    width: 100%;
    background-color: #fff;
    border: 1px solid #f2f1f1;
    box-shadow: 0 0 2px #ccc;
    /* padding: 0.4rem 0.6rem; */
}

.header__search-history .header__search-history-heading{
    color: #000;
}

.header__search-history .header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}

.header__search-history-item{
    padding: 0.4rem 0;
}

.header__search-history-item:hover{
    background-color: #e6e4e4;
}


.header__search-select{
    outline:none;
    border:none;
    height: 100%;
    padding: 0.4rem 0.6rem;
    color: #000;
    cursor: pointer;
    border-left: 1px solid #e9e6e6;
}



.header__search .header__search-btn{
    cursor: pointer;
    height: calc(100% - 0.8rem);
    padding: 0.4rem 2rem;
    margin: 0.4rem;
    background-color: #fff;
    border: none;
}

.header__search .header__search-btn:hover{
    background-color: #e8e7e7;
}

/* .header__search-option-item:hover{
    background-color: #ccc;
} */
/*  */
.shopping-cart{
    width: 15rem;
    display: flex;
    justify-content: center;
}
.shopping-cart i{
    font-size: 2.6rem;
}



