.footer{
    border-top: 4px solid #ee4d2d;
    padding-top: 12px;
}

.footer--content .row .col .footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}

.footer--content .row .col .footer-list{
    margin-top: 1rem;
}

.footer--content .row .col .footer-list .footer-item{
    font-size: 1.4rem;
    color: rgba(0,0,0,.54);
    padding: 0.4rem 0;
}

.footer-list .footer-item .footer-item__link:hover{
    text-decoration: underline;
    
}
.footer-list .footer-item .footer-item__link.footer-item__link--Contact{
    color: blue;
}
.footer-logo{
    width: 100%;
}
.footer-logo img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.footer .footer--bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer--bottom .footer--text{
    text-align: center;
}