.header{
    background-color: var(--primary-bgcolor-header);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.header .wide{
    display: flex;
    justify-content: space-between;
    height: 10rem;
    /* overflow: hidden; */
}

.header .wide .nav-bar--extra{
    display: none;
    margin: auto 0;
    cursor: pointer;
}

.header .wide .nav-bar--extra i{
    font-size: 4rem;
}

.header .wide .header-left{
    display: flex;
    align-items: center;
}

.header .wide .header-left img{
    height: 80%;
    cursor: pointer;
}

.header .wide .header-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header-center .navbar8 .navbar8-list{
    display: flex;
    margin: 1.6rem 0;
}

.navbar8 .navbar8-list .navbar8-item{
    font-size: 16px;
    font-weight: 600;
    margin-right:1rem;
    padding: 1px;
}

.navbar8 .navbar8-list .navbar8-item.navbar8-item--Notification{
    position: relative;
}
.navbar8 .navbar8-list .navbar8-item.navbar8-item--Notification span{
    position: absolute;
    top: -0.9rem;
    right: -0.4rem;
    background-color: #f44336;
    border-radius: 50%;
    padding: 0.1rem 0.2rem;
    color: #fff;
    font-size: 1.2rem;
}

.header-center .search-nav {
    padding-bottom: 2rem;
    width: 45rem;
}

.header-center .search-nav .search-box{
    display: flex;
    align-items: center;
    border: 0.1rem solid #b7b7b6;
    border-radius: 2rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
}

.header-center .search-nav .search-box input{
    background-color: var(--primary-bgcolor-header);
    border: none;
    outline: none;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
}

.header-center .search-nav .search-box i {
    border-left: 1px solid #b7b7b6;
    font-size: 20px;
    padding: 0 10px;
}

.header .wide .header-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.header-right .login a{
    color: var(--primary-color-header);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.header-right .cart-icon{
    cursor: pointer;
    position: relative;
}

.header-right .cart-icon i{
    color: var(--primary-color-header);
    font-size: 4rem;
}

.header-right .cart-icon span{
    position: absolute;
    top: -0.9rem;
    right: -0.4rem;
    background-color: #f44336;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    color: #fff;
    font-size: 1.6rem;
}

/* Slider */
.slider{
    margin-top: 12rem;
    padding: 3rem 0;
}

.slide-left .slide-left--wrap{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    z-index: 1;
    /* height: 26.8rem; */
    overflow: hidden;
    border-radius: 0.5rem;
}

.slide-left .slide-left--wrap .slide-left--content{
    display: flex;
    height: 100%;
    /* position: relative; */
    width: 100%;
    z-index: 1;
}

.slide-left--wrap .slide-left--content .slide-show{
    /* position: absolute; */
    width: 100%;
    height: 100%;
}
.slide-show--active{
    z-index: -99;
}

.slide-left--content .slide-show img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.slide-left .slide-left--wrap .slide-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4.8rem;
    color: #fff;
    z-index: 9;
    background-color: rgba(183, 183, 182,0.3);
}
/* Chu ý cần disable khi mà nó hết sldie */
.slide-left .slide-left--wrap .slide-button:hover{
    cursor: pointer;
    background-color: rgba(183, 183, 182,0.6);
}

.slide-left .slide-left--wrap .slide-button--prev{
    left: 0rem;
    padding-left: 1rem;
}

.slide-left .slide-left--wrap .slide-button--next{
    right: 0rem;
    padding-right: 1rem;
}

.slide-left .slide-left--wrap .slide-left--pagination{
    position: absolute;
    bottom: 1rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 99;
}

.slide-left .slide-left--wrap .slide-left--pagination span{
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(187, 182, 182,0.3);
    margin: 0 0.2rem;
    border-radius: 50%;
    border: 0.1rem solid #fff;
}


/* Slide-right */
.slide-right .slide-right--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.slide-right .slide-right--item i{
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 4rem;
    padding: 1.2rem;
    background-color: var(--primary-color-header);
    color: #fff;
    margin: 0.4rem;
}

.slide-right--content{
    flex: 1;
}

.slide-right--item .slide-right--content h3{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color-header);
    margin-bottom: 0.8rem;
}

.slide-right--item .slide-right--content p{
    font-size: 1.4rem;
    margin: 1rem 0;
}


/* Fix */
.nav-bar__extra--content .nav-bar--overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.62);
}

.nav-bar__extra--content .nav-bar--list{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 35rem;
    bottom: 0;
    z-index: 11;
    padding-left: 1rem;
    background-color: rgba(255,255,255,1);
    font-size: 1.6rem;
}

/* .nav-bar--list .nav-bar__extra--icon{
    display: block;
} */
.nav-bar--list .nav-bar__extra--icon i{
    margin: 2.5rem 0;
    font-size: 3rem;
}

.nav-bar--list .nav-bar__extra--login{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color-header);
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.nav-bar--list .nav-bar__extra--search{
    display: flex;
    align-items: center;
    border: 0.1rem solid #b7b7b6;
    border-radius: 2rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
}

.nav-bar--list .nav-bar__extra--search input{
    background-color: var(--primary-bgcolor-header);
    border: none;
    outline: none;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    padding-left: 1.9rem;
}

.nav-bar--list .nav-bar__extra--search i {
    border-left: 1px solid #b7b7b6;
    font-size: 1.8rem;
    padding: 0 10px;
}

.nav-bar--list .nav-bar--list-item{
    margin-top: 2rem;
}

.nav-bar__extra-list .nav-bar__extra-item{
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.nav-bar__extra-list .nav-bar__extra-item--Notification{
    position: relative;
}
.nav-bar__extra-list .nav-bar__extra-item--Notification span{
    position: absolute;
    top: -0.2rem;
    left: 8rem;
    background-color: #f44336;
    border-radius: 50%;
    padding: 0.1rem 0.2rem;
    color: #fff;
    font-size: 1.2rem;
}

/* Cần xóa */
.content{
    height: 1000px;
}